/*reset-------------------------------------------------*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div,
button, select, textarea {
  margin: 0;
  padding: 0;
}


body {
  font-family: "outfit" ,"Noto Sans JP" ,sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:active {
	color: inherit;
}





/*header--------------------------------------------------*/

#top {
	padding: 0px 100px;
	color: #47BEC2;
	height: 104px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo a{
	display: flex;
	font-size: 32px;
	color: inherit; 
}

.header-logo a:active {
	color: #232F5F;
}

.header-logo a:hover {
	opacity: 0.5;
}

.header-list {
	display: flex;
}

.header-list a:hover {
	opacity: 0.5;
}

.header-list a:active {
	color: #47BEC2;
}


.header-list ul {
	display: flex;
	gap: 40px;
}


.hamburger {
	display: none;
}


@media screen and (max-width : 768px ){
	body {
		padding: 0px 40px;
		overflow-x: hidden;
	}
	
	#top {
		height: 104px;   
		padding: 0px 40px; 
		justify-content: space-between;
		align-items: center;
	}
	
	.header-logo {
		font-size: 32px;
  }
	
	.header-list {
		display: none; 
  }
	
	.hamburger {
		display: flex;
		width: 60px;
		height: 40px;
		align-items: center;
		justify-content: center;
  }
  
	
}




/*fv--------------------------------------------------------*/

.fv {
	background-image: url("images/background-chat.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 555px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.fv-content {
	width: 80%;
	display: flex; 
	align-items: center; 
	justify-content: space-between;
}

.fv-txt {
	color: white;
	padding-left: 60px;
	width: 50%;
}

.fv-txt h1 {
	font-size: 40px;
	line-height: 54px;
}

.fv-txt p {
	font-size: 14px;
	margin-top: 44px;
	line-height: 24px;
	letter-spacing: 6%;
	font-weight: bold;
}


.button {
	padding: 16px 50px;
	margin-right: 16px;
	margin-top: 44px;
	border-radius: 60px;
	display: inline-block;
	font-weight: bold;
}

.rq {
	background-color: white;
	color:#232F5F;
	box-shadow: 0 6px #D3DEFC;
}

.rq:active {
  box-shadow: none;
  position: relative;
  top: 6px;
  color:#232F5F;
}

.contact {
	background-color: #232F5F;
	color: white;
	box-shadow: 0 6px #3C93A4;
}

.contact:active {
  box-shadow: none;
  position: relative;
  top: 6px;
  color: white;
}

.fv-img {
	width: 40%;
	padding-right: 20px;
}

.fv-img img{
	width: 80%;
	height: 80%;
}



@media screen and (max-width : 768px ){
	.fv {
		background-image:url("images/top_back_sp.svg");
		background-size: cover;
		background-position: center;
		width: 100%;
		height: auto;
		padding: 100px 20px;
	}
	
	.fv-content{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.fv-txt {
		width: 100%;
		text-align: left;
		padding: 0;
		margin-bottom: 40px;
	}
	
	.fv-txt h1 {
		font-size: 32px;
		line-hieght: 48px;
	}
	
	.fv-txt p {
		font-size: 16px;
		line-height: 28px;
		margin-top: 20px;
	}
	
	.fv img {
		width: 80%;
	}
	
	.fv-img img {
		width: 100%;
		height: auto;
	}
	
	.bottom {
		wodth: 254px;
		height: 88px;
		padding: 0;
		marign: 0;
	}
}



/*about-------------------------------------------------------*/

#about {
	padding: 90px 0px;
	width: 100%;
	text-align: center;
}

.about-contents {
	width: 100%;
}

.about-title {
	text-align: center;
}

.about-title h2 {
	color: #232F5F;
	font-size: 48px;
}

.about-title p {
	color: #47BEC2;
	font-size:16px;
	font-weight: bold;
}

.about-text {
	text-align: center;
	color: #232F5F;
	font-size: 12px;
	padding-top: 18px;
}

.about-contents {
	width: 80%;
	margin: 0 10%;
	padding-top: 50px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(8, 10%);
	grid-template-rows: 115px 115px 115px;
	background: radial-gradient(circle at center, rgba(71, 190, 194, 0.8) 0%,rgba(255, 255, 255, 1) 40%);
}

.about-contents p {
	font-weight: bold;
	font-size: 14px;
	white-space:nowrap;
}

.item1 {
	grid-column: 3 / 4;
	grid-row: 1;
	position: relative;
}

.item1 p {
	position: absolute;
	top: 30%;
	transform: translate(20%,0%);
	color: white;
}

.item2 {
	text-align: center;
	grid-column: 4 / span 5;
	grid-row: 1 / span 3;
	padding-right: 35%;
	padding-top: 5%;
}

.item3 {
	grid-column: 6 / 7;
	grid-row: 1;
	position: relative;
}

.item3 p {
	position: absolute;
	top: 30%;
	transform: translate(20%,0%);
}

.item4 {
	grid-column: 2 / 3;
	grid-row: 2;
	position: relative;
}

.item4 p {
	position: absolute;
	top: 20%;
	transform: translate(25%,0%);
	color: white;
}

.item5 {
	grid-column: 7 / 8;
	grid-row: 2;
	position: relative;
}

.item5 p {
	position: absolute;
	top: 30%;
	transform: translate(35%,0%);
	color: white;
}

.item6 {
	grid-column: 3 / 4;
	grid-row: 3;
	position: relative;
}

.item6 p {
	position: absolute;
	top: 50%;
	transform: translate(35%,0%);
}

.item7 {
	grid-column: 6 / 7;
	grid-row: 3;
	position: relative;
}

.item7 p {
	position: absolute;
	top: 50%;
	transform: translate(34%,0%);
	color: white;
}


/*merit-------------------------------------------------------*/

#merit {
	padding: 90px 0px;
	background-color:  #232F5F;
}

.merit-title {
	text-align: left;
}

.merit-title h2 {
	color: white;
	font-size: 48px;
	text-align: left;
}

.merit-contents {
	width: 60%;
	margin: 0 22%;
	padding-top: 50px;
	display: grid;
	gap: 12px;
	grid-template-columns: 30% 30% 30%;
	grid-auto-rows: 270px;
	text-align: center;
}

.item img {
	position: relative; 
	top: 0%;
}

.item h3 {
	display: block;
    align-items: center;
	height: 20%;
	font-size: 15px;
	position: relative;
	top: 5%;
}

.item  {
	position: relative;
	padding: 23px 20px;
	background-color: white;
	border-radius: 12px;
	color: #232F5F;
}
	
.merit-contents p {
	width: 100%;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 4%;
	line-height: 16px;
	position: relative;
	top: 10%; 
	text-align: left;
}

.merit-title p {
	color: #47BEC2;
	font-size:16px;
	font-weight: bold;
}

.merit-text {
	text-align: left;
	color: white;
	font-weight: bold;
	position: relative; 
	top: 40%;
}

.merit-text p {
	line-height: inherit;
	width: auto;
	display: inline-block;
	font-size: 20px;
}

.lowercase {
	font-size: 16px;
}

.work {
	color: #232F5F;
	padding: 2px 8px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 4px;
}

.customer {
	padding: 2px 8px;
	background-color: #47BEC2;
	border-radius: 4px;
}

.merit0 {
	padding: 0;
	grid-column: 1;
	grid-row: 1;
	background-color: #232F5F;
}

.merit1 {
	grid-column: 2;
	grid-row: 1;
}

.merit1 h3, .merit4 h3,.merit7 h3,.merit8 h3 {
	position: relative;
	top: 10%;
}

.merit5, .merit6, .merit7, .merit8 {
	background-color: #47BEC2;
	color: white;
}

/*tcase-------------------------------------------------------*/
#case {
	padding: 90px 0px;
	background-color: #E8F7F7;
}

.case-title{
	text-align: center;
	padding-bottom: 40px;
}

.case-title h2 {
	color: #232F5F;
	font-size: 48px;
	font-family: "outfit";
}

.case-title p {
	color: #47BEC2;
	font-size:16px;
	font-weight: bold;
}

.case-wrapper {
	text-align: center;
	background-color: #E8F7F7;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.case-wrapper p {
	font-size: 12px;
	font-weight: bold;
	color: white;
}

.case-display {
	margin: 0px 12px;
	width: 270px;
	height: 480px;
	background-color: white;
	box-shadow: 0px 0px 20px rgba(71,190,194,0.2);
	border-radius: 23px;
}

.display-header {
	height: 6%;
	padding-top: 4%;
	color: white;
	background-color: #232F5F;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.bank {
	background-color: #47BEC2;
}

.case-chat1 {
	padding: 14px 20px 0 10px;
	position: relative;
}


.chat1-img {
	margin: auto;
}

.case-img {
	position: absolute;
	top: 10%;
	left: 13%;
}

.case-chat1 p {
	position: absolute;
	text-align: left;
	top: 77%;
	left: 13%;
}

.case-chat2 {
	position: relative;
}

.chat2-img {
	position: absolute;
	padding-top: 10px;
	left: 3%;
}

.case-chat2 p {
	position: absolute;
	top: 20px;
	left: 12%;
}


.more {
	padding: 10px 60px;
	margin-right: px;
	margin-top: 50px;
	border-radius: 50px;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	background-color: white;
	position: absolute;
	left: 12%;
}

.bank2 {
	color: #232F5F;
}


/*FAQ-------------------------------------------------------*/

#faq {
	padding: 90px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: flex-start; 
}

.faq-title {
	text-align: left;
}

.faq-title h2 {
	color: #232F5F;
	font-size: 48px;
	text-align: left;
}

.faq-title p {
	color: #47BEC2;
	font-size:16px;
	font-weight: bold;
}

.faq-list {
	margin-left: 80px;
}

.faq-item {
	width: 450px;
	padding: 10px 30px;
	margin: 10px;
	border: 2px solid #D3DEFC;
	border-radius: 50px;
}

.q-head {
	font-size:20px;
	font-weight: bold;
	color: #47BEC2;
	padding-right: 3%;
	display: inline;
}

.q-text {
	font-size: 14px;
	font-weight: bold;
	color: #232F5F;
	display: inline-block;
}


.faq-list a {
	color: #232F5F;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 30px;
	margin: 10px;
	border-radius: 50px;
	box-shadow: 0 6px #D3DEFC;
}

.faq-list a:active {
  box-shadow: none;
  position: relative;
  top: 6px;
}


/*contact-------------------------------------------------------*/
#contact {
	padding: 90px 0px;
	background-color: #F1F4FC;
}

.contact-title{
	text-align: center;
	padding-bottom: 40px;
}

.contact-title h2 {
	color: #232F5F;
	font-size: 48px;
	font-family: "outfit";
}

.contact-title p {
	color: #47BEC2;
	font-size:16px;
	font-weight: bold;
}

.contact-item {
	text-align: center;
}

.contact-item p {
	font-weight: bold;
	color: #232F5F;
}

.contact-item .rq {
	background-color: #232F5F;
	color: white;
	box-shadow: 0 6px #BEC3D5;
}

.rq:active {
  box-shadow: none;
  position: relative;
  top: 6px;
}

.contact-item .contact {
	background-color: #47BEC2;
	color: white;
	box-shadow: 0 6px #C7E7EE;
}

.contact:active {
  box-shadow: none;
  position: relative;
  top: 6px;
}


/*footer-------------------------------------------------------*/

footer {
	height: 104px;
	padding: 0px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #232F5F;
}

footer a {
	color: white;
}

.footer-logo {
	font-size: 24px;
	color: white;
}

.footer-logo:hover {
	opacity: 0.5;
}

.footer-list {
	font-size: 12px;
}

.footer-list li:hover {
	opacity: 0.5;
}


.footer-list ul {
	display: flex;
	gap: 40px;
}
